<h1>This Application is developed by Bhanu Andrajula</h1>
<!-- <ul>
	<li>
		<p><a href="/pages/about.html">About Bhanu Andrajula</a></p>
	</li>
	<li>
		<p><a href="/pages/contact.html">Contact Bhanu Andrajula</a></p>
	</li>
</ul> -->
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>