<footer>
<nav class ="round">
<ul>
	<li><%= link_to "About",about_path %></li>
	<li><%= link_to "Contact",contact_path %></li>
	<li><%= link_to "Facebook", 'https://www.facebook.com/bhanuandrajula' %></li>
	<li><%= link_to "Linkedin",'https://www.linkedin.com/in/bhanuandrajula' %></li>
</ul>
</nav>
</footer>